<!DOCTYPE html>
<html>

<head>
    <title>Quên mật khẩu </title>
    <meta charset="UTF-8">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="row">
        <div class="col-sm-4">
            <form method="post" action="/notifiall">
                <div class="form-group">
                    <label>Mật khẩu mới:</label>
                    <input type="password" class="form-control" name="pass">
                </div>
                <div class="form-group">
                    <label>Nhập lại mật khẩu mới:</label>
                    <input type="password" class="form-control" name="re-pass">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>