<!DOCTYPE html>
<html>

<head>
    <title>Xác thực tài khoản</title>
    <meta charset="UTF-8">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div>
       Tài khoản của bạn đã được xác thực
    </div>

</body>

</html>